<% provide(:title, "About") %>
<h1>About Page</h1>
<p>This application allows you to enter the investment information pertaining to individual properties.<br />
   Then it will ask you which properies do you want to compare. Enter up to four(4) properties.<br />
   View the results.
</p>
<p>Find me in app/views/static_pages/about.html.erb</p>
