<% provide(:title, "Contact") %>
<h1>Contact Page</h1>
<table>
  <th>Contact the Owner of this page</th>
    <tr>
      <td>Phone:</td>
      <td>608-512-3750</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>gl.becker@yahoo.com</td>
    </tr>
</table>  
<p>Find me in app/views/static_pages/contact.html.erb</p>
