<% provide(:title, "Help") %>
<h1>Compare Investment Properties</h1>
<p>Enter all pertinent Information related to the properties you wish to compare.<br />
         These are the categories:
</p>
<p>Find me in app/views/static_pages/help.html.erb</p>
 
