<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Home Page</h1>
  
 <h2 id="logo">Home Page for the - Investment Property Comparison App -</h2>
  
 <%= link_to "Sign up now!", login_path, class: "btn btn-lg btn-primary" %>
</div>

    <p>You MUST login to use this application</p>
    <p>This Application is for the Real Estate Investor who is activly looking to purchase<br>
        an Investment Property. 
      The Agent or Investor can insert, modify or delete the data, then ask the application<br>
      to compare up to 4 properties. These comparisons will be detailed in some kind of order<br>
      yet to be determined.
    </p>
    <p>Find me in app/views/static_pages/home.html.erb</p>

<div class="center">
  <%= link_to image_tag("invest.jpg", alt: "Investment Logo") %>
</div>
 
